anime-summary {
  .anime-cards {
    width: 20%;
    padding: 5px;
    background-color: ghostwhite;
    margin-left: auto;
    margin-right: auto;
  }

  .anime-cards:hover {
    background-color: lightgrey;
  }

  .anime-cards > img {
    height: 270px;
  }
}
