anime-summary {
  .anime-cards {
    width: 20%;
    height: 450px;
    padding: 5px;
    margin-top: 10px;
    background-color: ghostwhite;
    float: left;
    position: relative;
    padding-bottom: 25%;
  }

  .anime-cards:hover {
    background-color: lightgrey;
  }

  .anime-cards > img {
    height: 270px;
  }
}
